@media (max-width:1100px) {
		body {
			color: #000000;
			font-size: 11.5px;
			margin: 0px;
			text-align: center;
			background-color: #FF00FF;
		}

		body:after{
		 display:none;
		 content: url('images/LOGOPUNKY.png') url('images/SHITPUNKY.png');
		}

		.image_center{
			margin: 0px;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			overflow: scroll;
		}

		.image_center img {
			position: fixed;
			top: 50%;
			left: 50%;
			max-width: 40%;
			max-height: 40%;
		}
}

@media (min-width:1101px) {
		body {
			color: #000000;
			font-size: 11.5px;
			margin: 0px;
		  text-align: center;
			background-color: #FF00FF;
		}

		body:after{
		 display:none;
		 content: url('images/LOGOPUNKY.png') url('images/SHITPUNKY.png');
		}

		.image_center{
		  margin: 0px;
		  display: flex;
		  align-items: center;
		  justify-content: center;
		  height: 100vh;
		}

		.image_center img {
		  max-width: 40%;
		  max-height: 40%;
		}

}
