@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);

html, body
  {
    padding: 0;
    margin: 1em;
    font-family: 'Roboto', sans-serif;
    font-size: 3vw;
    text-align: justify;
  }

table {
    width: 100%;
    padding: 0;
    margin: 0;
}

.first_column {
    width: 10%;
}

.second_column {
    width: 60%
}
