@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);

html, body
  {
    padding: 0;
    margin: 1em;
    font-family: 'Roboto', sans-serif;
    font-size: 3vw;
    text-align: justify;
  }

table {
  table-layout: fixed;
  width: 90%;
}

th,td {
   word-wrap: break-word;
}

.first_column {
  width: 20%;
}
